/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  text-align: center;
  margin: 0;
}

header h1 {
  margin: 0;
  padding: 20px;
  color: #fff;
  background-color: #abb946;
}

.login_status {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #f9eefa;
}

.login_status h3 {
  margin-top: 5px;
  margin-bottom: 0;
}

footer {
  color: #fff;
  background-color: #abb946;
}

table {
  background: #fafed9;
  margin-left: auto;
  margin-right: auto;
}

td {
  padding: 0.2rem;
}

label, strong {
  display: block;
  text-align: center;
}

input[type="submit"] {
  background: #fafed9;
  display: block;
  margin: 10px auto;
}

input[type="file"] {
  display: block;
  margin: 10px auto;
}

div#error_explanation, div.field, div.field_with_errors {
  margin: 0 auto;
}

div#error_explanation h2 {
  text-align: center;
}

/* テストで記載 */